PORT=8000

MONGODB_URI=mongodb+srv://atulkanojiyajnv_db_user:atul1725@cluster0.vz739ab.mongodb.net

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=atulkumar
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=atulkanojiya
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dyvboazqi
CLOUDINARY_API_KEY=972241756612794
CLOUDINARY_API_SECRET=wjE9q4YoKpBAQf8fqRkZeY8a4RU